[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
cython = "<3.0.0"
scikit-learn = "==1.0.2"
hungarian-algorithm = "*"
jupyter = "*"
ortools = "*"
matplotlib = "*"
tensorflow = "*"
keras = "*"

[dev-packages]
ipykernel = "*"
pandas = "*"

[requires]
python_version = "3.10"
